doctype html
html(lang="es")
	include includes/_headers
	
	script(src="/scripts/analytics.js")
		
	body
		#wrapper
			include includes/age/_age
			include includes/login/_login
		include includes/_scripts

		