doctype html
html(lang="es")
	include includes/_headers
	
	script(src="/scripts/analytics.js")
		
	body
		#wrapper
			include includes/age/_age
			include includes/home/_login
			include includes/register/_register
			include includes/confirm/_confirm
			include includes/confirm/_confirm_sociales
			include includes/login/_login
			include includes/chooseRegistration/_chooseRegistration
			include includes/verification/_verification_email
			include includes/verification/_verification_sms
			include includes/verification/_congratulation
			include includes/verification/_conect
			include includes/profile/_profile
			include includes/prizes/_prizes
		include includes/_scripts

		