#age_gate {
  background-image: url(../assets/images/gui/age/img_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #age_gate .safe-all {
    padding-top: 60px;
    height: 640px; }
  #age_gate .logo {
    width: 155px;
    height: 231px;
    position: relative;
    margin: 0 auto;
    background-image: url("../assets/images/gui/age/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px; }
  #age_gate h3 {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    color: #bebebe; }
  #age_gate .holdDOB {
    width: 362px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    z-index: 1; }
    #age_gate .holdDOB .boxIp {
      background-color: #ffffff;
      float: left;
      height: 30px;
      position: relative; }
      #age_gate .holdDOB .boxIp.dayInput {
        width: 81px; }
      #age_gate .holdDOB .boxIp.monthInput {
        width: 106px;
        margin-left: 20px;
        margin-right: 20px; }
      #age_gate .holdDOB .boxIp.yearInput {
        width: 135px; }
      #age_gate .holdDOB .boxIp .mainselector {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../assets/images/gui/age/drop_down.png");
        background-position: right;
        background-repeat: no-repeat; }
        #age_gate .holdDOB .boxIp .mainselector p {
          color: #000000;
          position: relative;
          margin-top: 8px;
          margin-left: 16px;
          font-size: 13px; }
      #age_gate .holdDOB .boxIp .holdDrops {
        width: 100%;
        height: 0px;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: #ffffff;
        overflow: hidden; }
        #age_gate .holdDOB .boxIp .holdDrops .indeOnes {
          width: 100%;
          height: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 12px; }
          #age_gate .holdDOB .boxIp .holdDrops .indeOnes:hover {
            background-color: #f0f0f0; }
          #age_gate .holdDOB .boxIp .holdDrops .indeOnes p {
            position: relative;
            margin-left: 10px;
            color: #242424; }
  #age_gate .downHold {
    width: 362px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px; }
    #age_gate .downHold .remindMeHold {
      width: 165px;
      height: 19px;
      position: relative;
      margin-top: 12px;
      margin-left: 49px;
      float: left; }
      #age_gate .downHold .remindMeHold .checkbox_age {
        width: 19px;
        height: 19px;
        background-color: #ffffff;
        float: left;
        margin-right: 10px; }
        #age_gate .downHold .remindMeHold .checkbox_age:hover, #age_gate .downHold .remindMeHold .checkbox_age.activeone {
          background-image: url("../assets/images/gui/age/remider.png");
          background-position: center;
          background-repeat: no-repeat; }
    #age_gate .downHold .btsumit {
      width: 148px;
      height: 40px;
      position: relative;
      float: left;
      background-color: #ed1c24;
      background-image: url("../assets/images/gui/age/submit.png");
      background-position: 20px 11px;
      background-repeat: no-repeat; }
      #age_gate .downHold .btsumit p {
        position: relative;
        font-weight: 700;
        top: 11px;
        left: 57px; }
  #age_gate .holdLow {
    position: relative; }
    #age_gate .holdLow p {
      text-align: center;
      margin-bottom: 20px; }
    #age_gate .holdLow .inputbtm {
      width: 134px;
      height: 30px;
      margin: 0 auto; }
      #age_gate .holdLow .inputbtm input {
        text-align: center; }

.hold_ageGate {
  display: block; }

.sorry_hold {
  display: none; }

.sorry_hold h2 {
  color: #ffffff;
  margin-bottom: 40px; }
.sorry_hold .hold_btns {
  width: 142px;
  height: 42px; }
  .sorry_hold .hold_btns .btns_btm {
    width: 142px;
    height: 42px;
    position: relative;
    float: left;
    background-repeat: no-repeat; }
    .sorry_hold .hold_btns .btns_btm p {
      position: relative;
      left: 48px;
      top: 10px;
      color: #ffffff;
      font-weight: 700; }
    .sorry_hold .hold_btns .btns_btm.btn_back {
      background-color: #ffffff;
      background-image: url("../assets/images/gui/age/back.png");
      background-position: 20px center; }
      .sorry_hold .hold_btns .btns_btm.btn_back p {
        color: #000000; }

.lineBtm {
  width: 620px;
  height: 2px;
  position: relative;
  margin: 0 auto;
  background-color: #bebebe;
  margin-bottom: 30px; }

.reg_form {
  background-image: url(../assets/images/gui/confirm/bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .reg_form .safe-all {
    padding-top: 60px;
    height: 640px; }

.holdConfirmation input[type="text"] {
  color: #bebebe; }
.holdConfirmation h2 {
  color: #ffffff;
  margin-bottom: 30px; }
.holdConfirmation .hold_names {
  width: 500px;
  height: 40px;
  margin-bottom: 40px; }
  .holdConfirmation .hold_names .inputsnames {
    width: 225px;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 25px;
    overflow: hidden; }
    .holdConfirmation .hold_names .inputsnames .this0 {
      margin-right: 0; }
.holdConfirmation .hold_date {
  width: 260px;
  height: 75px;
  margin-bottom: 15px; }
  .holdConfirmation .hold_date h4 {
    color: #ffffff;
    margin-bottom: 10px; }
  .holdConfirmation .hold_date .holdDates {
    width: 65px;
    height: 35px;
    float: left; }
    .holdConfirmation .hold_date .holdDates input[type="text"] {
      text-align: center !important; }
    .holdConfirmation .hold_date .holdDates.centerOnes {
      margin-left: 18px;
      margin-right: 18px; }
    .holdConfirmation .hold_date .holdDates.lastO {
      width: 89px; }
.holdConfirmation .hold_secondRow {
  width: 500px;
  height: 40px;
  margin-bottom: 20px; }
  .holdConfirmation .hold_secondRow .inputNames {
    width: 225px;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 25px;
    overflow: hidden; }
.holdConfirmation .hold_cel {
  width: 210px;
  height: 65px;
  float: left;
  position: relative;
  top: -24px; }
  .holdConfirmation .hold_cel h4 {
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px; }
  .holdConfirmation .hold_cel .boxlada {
    width: 70px;
    height: 35px;
    background-color: #2b2b2b;
    float: left; }
    .holdConfirmation .hold_cel .boxlada p {
      color: #ffffff;
      top: 7px;
      position: relative;
      text-align: center; }
  .holdConfirmation .hold_cel .holdnumber {
    width: 56px;
    height: 35px;
    float: left;
    overflow: hidden; }
    .holdConfirmation .hold_cel .holdnumber input[type="text"] {
      text-align: center !important; }
    .holdConfirmation .hold_cel .holdnumber.centeIt {
      margin-left: 10px;
      margin-right: 10px; }
.holdConfirmation .hold_btns {
  width: 320px;
  height: 40px; }
  .holdConfirmation .hold_btns .btns_btm {
    width: 142px;
    height: 42px;
    position: relative;
    float: left;
    background-repeat: no-repeat; }
    .holdConfirmation .hold_btns .btns_btm p {
      position: relative;
      left: 48px;
      top: 10px;
      color: #ffffff;
      font-weight: 700; }
    .holdConfirmation .hold_btns .btns_btm.btn_conf {
      margin-left: 28px;
      background-color: #ed1c24;
      background-image: url("../assets/images/gui/age/confi.png");
      background-position: 17px center; }
      .holdConfirmation .hold_btns .btns_btm.btn_conf:hover {
        background-color: #b80000; }
    .holdConfirmation .hold_btns .btns_btm.btn_back {
      background-color: #ffffff;
      background-image: url("../assets/images/gui/age/back.png");
      background-position: 20px center; }
      .holdConfirmation .hold_btns .btns_btm.btn_back p {
        color: #000000; }

/* ******************************* Hasta abajo esta el login ******************* */
#home_gate {
  background-color: #000000; }
  #home_gate .new-safe {
    width: 100%;
    height: 100%;
    min-width: 640px;
    min-height: 780px;
    position: absolute;
    top: 0;
    left: 0; }
    #home_gate .new-safe .half-in {
      width: 50%;
      float: left; }
    #home_gate .new-safe .full-in {
      width: 100%;
      clear: both; }
      #home_gate .new-safe .full-in .inImg {
        width: 97.25% !important; }
    #home_gate .new-safe .single-in {
      height: 25%; }
    #home_gate .new-safe .double-in {
      height: 50%; }
      #home_gate .new-safe .double-in .hover p {
        bottom: 20px !important; }
    #home_gate .new-safe .fullD-in {
      height: 100%; }
      #home_gate .new-safe .fullD-in .double-in .inImg {
        height: 97.25% !important; }
    #home_gate .new-safe .grid-item {
      position: relative; }
      #home_gate .new-safe .grid-item .inImg {
        width: 95%;
        height: 95%;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
        #home_gate .new-safe .grid-item .inImg#img-1 {
          background-image: url("../assets/images/gui/login/img1.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-2 {
          background-image: url("../assets/images/gui/login/img2.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-3 {
          background-image: url("../assets/images/gui/login/img3.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-4 {
          background-image: url("../assets/images/gui/login/img4.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-5 {
          background-image: url("../assets/images/gui/login/img5.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-6 {
          background-image: url("../assets/images/gui/login/img6.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-7 {
          background-image: url("../assets/images/gui/login/img7.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-8 {
          background-image: url("../assets/images/gui/login/img8.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-9 {
          background-image: url("../assets/images/gui/login/img9.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-10 {
          background-image: url("../assets/images/gui/login/img10.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-11 {
          background-image: url("../assets/images/gui/login/img11.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-12 {
          background-image: url("../assets/images/gui/login/img12.jpg"); }
        #home_gate .new-safe .grid-item .inImg#img-13 {
          background-image: url("../assets/images/gui/login/img13.jpg"); }
        #home_gate .new-safe .grid-item .inImg .hover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(255, 0, 10, 0.35); }
          #home_gate .new-safe .grid-item .inImg .hover p {
            position: absolute;
            bottom: 10px;
            left: 10px;
            line-height: 15px; }
          #home_gate .new-safe .grid-item .inImg .hover:hover {
            opacity: 1; }
    #home_gate .new-safe .top-section, #home_gate .new-safe .btm-section {
      width: 100%;
      position: relative; }
    #home_gate .new-safe .top-section {
      height: 60%;
      background-image: url("../assets/images/gui/login/bg.jpg");
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #home_gate .new-safe .top-section .low-ones {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 10%;
        left: 0%; }
      #home_gate .new-safe .top-section h2 {
        color: #ffffff;
        margin-bottom: 30px; }
        #home_gate .new-safe .top-section h2 span {
          font-style: italic; }
      #home_gate .new-safe .top-section .bts_d {
        height: 40px; }
        #home_gate .new-safe .top-section .bts_d p {
          top: 10px; }
      #home_gate .new-safe .top-section .btn_register {
        width: 135px;
        float: right;
        margin-right: 10px; }
      #home_gate .new-safe .top-section .btn_login {
        width: 100px;
        float: left;
        margin-left: 15%; }
    #home_gate .new-safe .btm-section {
      height: 40%; }

.red_btns {
  background-color: #ed1c24; }
  .red_btns:hover {
    background-color: #b80000; }
  .red_btns p {
    color: #ffffff;
    text-align: center;
    top: 10px; }

#login_gate .holdwithGrid .safe-all {
  margin-top: 5.7%; }

#register_gate, .log_bg {
  background-image: url(../assets/images/gui/register/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #register_gate .btns_sosConect, .log_bg .btns_sosConect {
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 15px center; }
    #register_gate .btns_sosConect p, .log_bg .btns_sosConect p {
      color: #ffffff;
      text-align: center;
      top: 10px;
      left: 7px; }
  #register_gate .conect_facebook, .log_bg .conect_facebook {
    background-color: #3a589e;
    background-image: url(../assets/images/gui/register/fb.png); }
  #register_gate .conect_twitter, .log_bg .conect_twitter {
    background-color: #33ccff;
    background-image: url(../assets/images/gui/register/tt.png); }
  #register_gate .btn_getS, .log_bg .btn_getS {
    margin-left: 28px;
    background-position: 17px center; }
    #register_gate .btn_getS p, .log_bg .btn_getS p {
      left: 0 !important; }

.logs {
  margin-bottom: 70px !important; }

.sossn {
  height: 65px !important; }
  .sossn h4 {
    text-align: center;
    color: #ffffff; }
  .sossn .iconos {
    width: 54px;
    height: 23px;
    margin-top: 10px; }
    .sossn .iconos .icsin {
      width: 50%;
      height: 100%;
      float: left;
      background-image: url(../assets/images/gui/login/iconos.png); }
      .sossn .iconos .icsin.icono1 {
        background-position: left center; }
      .sossn .iconos .icsin.icono2 {
        background-position: right center; }

.holdOtherR {
  width: 240px;
  height: 135px; }
  .holdOtherR .topIns, .holdOtherR .btmIns {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    position: relative; }
    .holdOtherR .topIns .inputlog, .holdOtherR .btmIns .inputlog {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      display: none; }
      .holdOtherR .topIns .inputlog.activeInput, .holdOtherR .btmIns .inputlog.activeInput {
        display: block; }

.hold_btn {
  width: 300px;
  height: 80px; }
  .hold_btn .btn_log {
    width: 144px;
    height: 40px; }
  .hold_btn .alert {
    margin-top: 10px; }
    .hold_btn .alert p {
      text-align: center; }

.hold_btn2 {
  width: 95px;
  height: 35px;
  position: relative; }
  .hold_btn2 .btn_back {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("../assets/images/gui/age/back.png");
    background-position: 7px center;
    background-repeat: no-repeat; }
    .hold_btn2 .btn_back p {
      color: #000000;
      text-align: center;
      top: 7px;
      left: 7px; }

.choose_bg {
  background-image: url(../assets/images/gui/choose/bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .choose_bg h2, .choose_bg h3, .choose_bg h1 {
    color: #ffffff; }
    .choose_bg h2 span, .choose_bg h3 span, .choose_bg h1 span {
      font-style: italic; }
  .choose_bg h1 {
    margin-bottom: 20px; }
  .choose_bg .holdVeryfied_btns {
    width: 430px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px; }
    .choose_bg .holdVeryfied_btns .btns_btm {
      width: 150px;
      height: 40px;
      position: relative;
      float: left; }
      .choose_bg .holdVeryfied_btns .btns_btm.btn_sms {
        float: right; }
  .choose_bg .lineBtm {
    width: 430px; }
  .choose_bg p {
    text-align: center; }
    .choose_bg p span {
      font-weight: 700; }
  .choose_bg .holdVeryfied_btn {
    width: 168px;
    height: 40px;
    margin-top: 60px; }
    .choose_bg .holdVeryfied_btn .btns_btm {
      width: 150px;
      height: 40px;
      position: relative;
      float: left;
      background-image: url("../assets/images/gui/choose/back.png");
      background-position: 13px center;
      background-repeat: no-repeat; }
      .choose_bg .holdVeryfied_btn .btns_btm.smsV {
        background-color: #ffffff;
        background-image: url("../assets/images/gui/age/back.png"); }
        .choose_bg .holdVeryfied_btn .btns_btm.smsV p {
          color: #000000; }
    .choose_bg .holdVeryfied_btn .btn_getS {
      width: 150px;
      height: 45px;
      position: relative; }
      .choose_bg .holdVeryfied_btn .btn_getS p {
        top: 3px; }
  .choose_bg .input_hold_verify {
    width: 380px;
    height: 40px;
    margin-top: 30px; }
    .choose_bg .input_hold_verify .holdinpu {
      width: 260px;
      height: 40px;
      float: left;
      overflow: hidden; }
    .choose_bg .input_hold_verify .btn_verify {
      width: 100px;
      height: 40px;
      background-image: url("../assets/images/gui/age/confi.png");
      background-position: 17px center;
      float: left;
      background-repeat: no-repeat;
      margin-left: 20px; }
      .choose_bg .input_hold_verify .btn_verify p {
        left: 15px; }

.holdbottoms_cols {
  width: 600px;
  height: 310px; }
  .holdbottoms_cols .btnsHolers {
    height: 100%;
    margin-top: 20px; }
    .holdbottoms_cols .btnsHolers .hold_btns {
      width: 277px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 20px;
      position: relative; }
      .holdbottoms_cols .btnsHolers .hold_btns .btns_btm {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: 20px center; }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm p {
          top: 10px;
          color: #242424; }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm .inTxt {
          width: 221px;
          height: 100%;
          position: relative;
          float: right; }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm .inTxt p {
            left: 0; }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.btn_fb {
          background-image: url("../assets/images/gui/choose/fb-ico2.png"); }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.btn_tt {
          background-image: url("../assets/images/gui/choose/tt-ico2.png"); }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.btn_ig {
          background-image: url("../assets/images/gui/choose/ig-ico2.png"); }
        .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns {
          background-color: #ed1c24; }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns p {
            color: #ffffff; }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns:hover {
            background-color: #b80000; }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns.btn_fb {
            background-image: url("../assets/images/gui/choose/fb-ico.png"); }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns.btn_tt {
            background-image: url("../assets/images/gui/choose/tt-ico.png"); }
          .holdbottoms_cols .btnsHolers .hold_btns .btns_btm.red_btns.btn_ig {
            background-image: url("../assets/images/gui/choose/ig-ico.png"); }
  .holdbottoms_cols .thisIsthe p {
    text-align: left !important;
    margin-bottom: 10px;
    color: #bebebe; }
  .holdbottoms_cols .thisIsthe .holdsocials {
    margin-bottom: 30px; }
    .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow {
      height: 60px;
      width: 28px;
      margin-left: 10px;
      position: relative; }
      .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .iconoIn {
        width: 100%;
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: top; }
        .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .iconoIn#fb {
          background-image: url("../assets/images/gui/choose/fb-ico.png"); }
        .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .iconoIn#tt {
          background-image: url("../assets/images/gui/choose/tt-ico.png"); }
        .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .iconoIn#ig {
          background-image: url("../assets/images/gui/choose/ig-ico.png"); }
      .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .btn_newletter {
        width: 28px;
        height: 28px;
        background-image: url("../assets/images/gui/choose/nws.png");
        background-position: center;
        background-repeat: no-repeat; }
        .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow .btn_newletter.activeON {
          background-color: #ed1c24; }
      .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow.inconoTextss {
        float: left; }
        .holdbottoms_cols .thisIsthe .holdsocials .iconos_Follow.inconoTextss p {
          float: left; }
  .holdbottoms_cols .thisIsthe .btnContinuar {
    width: 195px;
    height: 40px; }
    .holdbottoms_cols .thisIsthe .btnContinuar .btn_continueR {
      width: 100%;
      height: 100%;
      background-color: #ffffff; }
      .holdbottoms_cols .thisIsthe .btnContinuar .btn_continueR p {
        color: #242424;
        top: 10px;
        text-align: center !important; }

.choose_bg {
  background-image: url(../assets/images/gui/perfil/bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .choose_bg .safe-all {
    background-color: #ffffff; }
    .choose_bg .safe-all .topPart {
      width: 100%;
      height: 315px;
      padding-top: 50px;
      position: relative; }
      .choose_bg .safe-all .topPart .pointsCounte {
        width: 90px;
        height: 100px;
        margin-bottom: 10px; }
        .choose_bg .safe-all .topPart .pointsCounte p {
          text-align: center;
          color: #000000; }
          .choose_bg .safe-all .topPart .pointsCounte p span {
            font-weight: 700;
            color: #000000;
            font-style: italic;
            left: -10px;
            position: relative; }
        .choose_bg .safe-all .topPart .pointsCounte h1 {
          color: #ed1c24;
          font-weight: 700;
          margin-bottom: 0px; }
        .choose_bg .safe-all .topPart .pointsCounte .btnShow {
          width: 18px;
          height: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../assets/images/gui/perfil/assets/drop_down_points.png);
          position: absolute;
          bottom: 16px;
          right: 0; }
      .choose_bg .safe-all .topPart .copyPart {
        width: 500px;
        height: 100px; }
        .choose_bg .safe-all .topPart .copyPart .ttp {
          margin-bottom: 10px; }
          .choose_bg .safe-all .topPart .copyPart .ttp p {
            text-align: center;
            color: #000000; }
            .choose_bg .safe-all .topPart .copyPart .ttp p span {
              color: #000000; }
        .choose_bg .safe-all .topPart .copyPart .lbp {
          width: 420px;
          height: 33px;
          margin-bottom: 15px; }
        .choose_bg .safe-all .topPart .copyPart .floLsection {
          float: left;
          height: 33px;
          position: relative; }
          .choose_bg .safe-all .topPart .copyPart .floLsection p {
            top: 7px;
            color: #000000; }
            .choose_bg .safe-all .topPart .copyPart .floLsection p span {
              font-weight: 700;
              font-size: 20px;
              position: relative;
              color: #000000;
              top: 0px; }
          .choose_bg .safe-all .topPart .copyPart .floLsection.inputhOLS {
            width: 100px;
            height: 30px;
            border: 1px solid #000000;
            margin-left: 10px;
            margin-right: 10px; }
      .choose_bg .safe-all .topPart .shareSect {
        width: 360px;
        height: 55px;
        margin-bottom: 10px; }
        .choose_bg .safe-all .topPart .shareSect .holdTX {
          float: left;
          width: 74px;
          padding-top: 10px;
          height: 20px; }
          .choose_bg .safe-all .topPart .shareSect .holdTX p {
            color: #000000;
            top: 10px; }
        .choose_bg .safe-all .topPart .shareSect .boxSocial {
          width: 277px;
          height: 50px;
          border: 1px solid #bebebe;
          position: relative;
          float: left; }
          .choose_bg .safe-all .topPart .shareSect .boxSocial .linkBtn {
            position: absolute;
            top: 5px;
            background-repeat: no-repeat;
            background-position: center;
            width: 32px;
            height: 32px; }
            .choose_bg .safe-all .topPart .shareSect .boxSocial .linkBtn.fb_linkShare {
              background-image: url(../assets/images/gui/perfil/assets/fb.png);
              left: 25px; }
            .choose_bg .safe-all .topPart .shareSect .boxSocial .linkBtn.tt_linkShare {
              background-image: url(../assets/images/gui/perfil/assets/Forma-12.png);
              left: 103px; }
            .choose_bg .safe-all .topPart .shareSect .boxSocial .linkBtn.email_linkShare {
              width: 82px;
              left: 178px;
              background-image: url(../assets/images/gui/perfil/assets/email.png); }
      .choose_bg .safe-all .topPart .lastCopy {
        width: 100%;
        height: 20px;
        position: relative; }
        .choose_bg .safe-all .topPart .lastCopy p {
          text-align: center;
          top: 5px;
          color: #000000; }
          .choose_bg .safe-all .topPart .lastCopy p span {
            font-weight: 700;
            font-size: 20px;
            position: relative;
            color: #000000;
            top: 3px; }

.choose_bg .safe-all .btmpart {
  width: 100%;
  height: 320px;
  position: relative;
  background-color: #fff3c2;
  background-image: url(../assets/images/gui/perfil/pestana.png);
  background-repeat-y: no-repeat;
  background-position: center top; }
  .choose_bg .safe-all .btmpart .holdRefers {
    width: 170px;
    height: 50px;
    margin-bottom: 20px; }
    .choose_bg .safe-all .btmpart .holdRefers .friensSo {
      width: 100%;
      height: 25px; }
      .choose_bg .safe-all .btmpart .holdRefers .friensSo p {
        text-align: center;
        color: #bebebe; }
    .choose_bg .safe-all .btmpart .holdRefers .holdLOw {
      width: 50px;
      height: 25px; }
      .choose_bg .safe-all .btmpart .holdRefers .holdLOw .lftm {
        width: 50%;
        float: left;
        height: 100%; }
      .choose_bg .safe-all .btmpart .holdRefers .holdLOw .counter_Friends p {
        color: #ed1c24;
        text-align: right; }
      .choose_bg .safe-all .btmpart .holdRefers .holdLOw .iconoMn {
        width: 21px;
        height: 21px;
        background-image: url(../assets/images/gui/perfil/assets/friends_so_far.png);
        background-repeat: no-repeat;
        background-position: center; }
  .choose_bg .safe-all .btmpart .getMore {
    width: 295px;
    height: 35px;
    border-bottom: 2px solid #ede0a7;
    margin-bottom: 20px; }
    .choose_bg .safe-all .btmpart .getMore h2 {
      text-align: center;
      color: #270e0e; }
  .choose_bg .safe-all .btmpart .holdBtnsPromos {
    width: 710px;
    height: 140px; }
    .choose_bg .safe-all .btmpart .holdBtnsPromos .btnsGo {
      width: 100%;
      height: 52px;
      position: relative;
      margin-bottom: 20px;
      background-repeat: no-repeat; }
      .choose_bg .safe-all .btmpart .holdBtnsPromos .btnsGo.btn_chll {
        background-image: url(../assets/images/gui/perfil/btn_challenge.png);
        background-position: left center; }
      .choose_bg .safe-all .btmpart .holdBtnsPromos .btnsGo.btn_mth {
        width: 412px;
        background-image: url(../assets/images/gui/perfil/match.png);
        background-position: right center;
        position: absolute;
        top: 0;
        right: -3px; }
      .choose_bg .safe-all .btmpart .holdBtnsPromos .btnsGo.btn_code {
        background-image: url(../assets/images/gui/perfil/btn_code.png);
        background-position: right center;
        position: absolute;
        bottom: 0;
        right: 0; }
    .choose_bg .safe-all .btmpart .holdBtnsPromos .redXms {
      width: 298px;
      height: 66px;
      background-image: url(../assets/images/gui/perfil/chal.png);
      background-position: left center; }
  .choose_bg .safe-all .btmpart .btmTab.btn_cursor {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../assets/images/gui/perfil/pestanaL.png);
    background-repeat-y: no-repeat;
    background-position: center top; }
    .choose_bg .safe-all .btmpart .btmTab.btn_cursor h1 {
      color: #ffffff;
      text-align: center; }

.choose_bg .nav_var {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 85px;
  background-color: #270e0e; }
  .choose_bg .nav_var .safe-in {
    width: 960px;
    height: 100px; }
    .choose_bg .nav_var .safe-in .profile_gating {
      width: 310px;
      height: 100px;
      float: left;
      position: relative; }
      .choose_bg .nav_var .safe-in .profile_gating .circleimg {
        width: 98px;
        height: 98px;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        top: -30px;
        left: 0; }
        .choose_bg .nav_var .safe-in .profile_gating .circleimg img {
          width: 100%;
          height: 100px; }
      .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown {
        width: 208px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0; }
        .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .welcomTxt {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .welcomTxt p {
            top: 13px;
            left: -10px; }
            .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .welcomTxt p span {
              color: #ed1c24; }
        .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .bullet {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 15px;
          right: 15px;
          background-image: url(../assets/images/gui/perfil/assets/drop_Down_account.png); }
        .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .droping {
          width: 100%;
          height: 0px;
          position: absolute;
          top: 50px;
          left: 0;
          overflow: hidden; }
          .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .droping .selctionThis {
            width: 100%;
            height: 35px;
            position: relative;
            background-color: #270e0e; }
            .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .droping .selctionThis p {
              text-align: left;
              color: #ffffff;
              left: 10px;
              top: 5px; }
            .choose_bg .nav_var .safe-in .profile_gating .holder_dropdown .droping .selctionThis:hover {
              background-color: #642424; }
    .choose_bg .nav_var .safe-in .logoOne {
      width: 90px;
      height: 137px;
      top: -70px;
      left: -70px; }
      .choose_bg .nav_var .safe-in .logoOne img {
        width: 100%; }
    .choose_bg .nav_var .safe-in .conections_part {
      width: 420px;
      padding-top: 15px;
      height: 22px;
      position: relative;
      float: right; }
      .choose_bg .nav_var .safe-in .conections_part p {
        float: left;
        font-weight: 700;
        margin-right: 20px;
        font-size: 12px;
        top: 5px; }
      .choose_bg .nav_var .safe-in .conections_part .socilasConects {
        width: 275px;
        height: 24px;
        position: relative;
        float: left; }
        .choose_bg .nav_var .safe-in .conections_part .socilasConects .iconRed {
          width: 24px;
          height: 24px;
          position: relative;
          float: left;
          margin-right: 20px; }
          .choose_bg .nav_var .safe-in .conections_part .socilasConects .iconRed img {
            height: 100%; }
        .choose_bg .nav_var .safe-in .conections_part .socilasConects p {
          margin-right: 0; }

html, body {
  margin: 0 auto;
  min-width: 980px;
  width: 100%;
  min-height: 760px;
  height: 100%;
  position: relative;
  font-family: helvetica;
  font-family: "Lato", sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #ffffff;
  text-decoration: none; }

p {
  margin: 0 auto;
  position: relative; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3, h4 {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  color: #000000; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #ed1c24;
  font-style: normal;
  font-weight: 700; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.section-half, .section-third {
  position: relative;
  float: left;
  height: 100%; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.centerIt-h {
  position: relative;
  margin: 0 auto; }

.btn-borders {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 780px;
  position: relative;
  overflow: hidden; }
  #wrapper .imgbG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    #wrapper .imgbG .holdwithGrid {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../assets/images/gui/age/bg.png"); }

.safe-all {
  width: 980px;
  height: 720px;
  margin: 0 auto;
  margin-top: 7%; }

.logo {
  width: 155px;
  height: 231px;
  position: relative;
  margin: 0 auto;
  background-image: url("../assets/images/gui/age/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px; }

.btn_cursor {
  cursor: pointer; }

input[type="text"], input[type="number"], input[type="password"] {
  width: 95%;
  height: 100%;
  position: relative;
  padding-left: 5%;
  background-color: #ffffff;
  border: none;
  color: #000000; }
