#age_gate {
  background-image: url(../assets/images/gui/age/img_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #age_gate .safe-all {
    padding-top: 60px;
    height: 640px; }
  #age_gate .logo {
    width: 155px;
    height: 231px;
    position: relative;
    margin: 0 auto;
    background-image: url("../assets/images/gui/age/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px; }
  #age_gate h3 {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    color: #bebebe; }
  #age_gate .holdDOB {
    width: 362px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    z-index: 3; }
    #age_gate .holdDOB .boxIp {
      background-color: #ffffff;
      float: left;
      height: 30px;
      position: relative; }
      #age_gate .holdDOB .boxIp.dayInput {
        width: 81px; }
      #age_gate .holdDOB .boxIp.monthInput {
        width: 106px;
        margin-left: 20px;
        margin-right: 20px; }
      #age_gate .holdDOB .boxIp.yearInput {
        width: 135px; }
      #age_gate .holdDOB .boxIp .mainselector {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../assets/images/gui/age/drop_down.png");
        background-position: right;
        background-repeat: no-repeat; }
        #age_gate .holdDOB .boxIp .mainselector p {
          color: #000000;
          position: relative;
          margin-top: 8px;
          margin-left: 16px;
          font-size: 13px; }
      #age_gate .holdDOB .boxIp .holdDrops {
        width: 100%;
        height: 0px;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: #ffffff;
        overflow: hidden; }
        #age_gate .holdDOB .boxIp .holdDrops .indeOnes {
          width: 100%;
          height: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 12px; }
          #age_gate .holdDOB .boxIp .holdDrops .indeOnes:hover {
            background-color: #f0f0f0; }
          #age_gate .holdDOB .boxIp .holdDrops .indeOnes p {
            position: relative;
            margin-left: 10px;
            color: #242424; }
  #age_gate .downHold {
    width: 362px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px; }
    #age_gate .downHold .remindMeHold {
      width: 165px;
      height: 19px;
      position: relative;
      margin-top: 12px;
      margin-left: 49px;
      float: left; }
      #age_gate .downHold .remindMeHold .checkbox_age {
        width: 19px;
        height: 19px;
        background-color: #ffffff;
        float: left;
        margin-right: 10px; }
        #age_gate .downHold .remindMeHold .checkbox_age:hover, #age_gate .downHold .remindMeHold .checkbox_age.activeone {
          background-image: url("../assets/images/gui/age/remider.png");
          background-position: center;
          background-repeat: no-repeat; }
    #age_gate .downHold .btsumit {
      width: 148px;
      height: 40px;
      position: relative;
      float: left;
      background-color: #ed1c24;
      background-image: url("../assets/images/gui/age/submit.png");
      background-position: 20px 11px;
      background-repeat: no-repeat; }
      #age_gate .downHold .btsumit p {
        position: relative;
        font-weight: 700;
        top: 11px;
        left: 57px; }
  #age_gate .lineBtm {
    width: 620px;
    height: 2px;
    position: relative;
    margin: 0 auto;
    background-color: #bebebe;
    margin-bottom: 30px; }
  #age_gate .holdLow {
    position: relative; }
    #age_gate .holdLow p {
      text-align: center;
      margin-bottom: 20px; }
    #age_gate .holdLow .inputbtm {
      width: 134px;
      height: 30px;
      margin: 0 auto; }
      #age_gate .holdLow .inputbtm input {
        text-align: center; }

.hold_ageGate {
  display: block; }

.sorry_hold, .holdConfirmation {
  display: none; }

.holdConfirmation input[type="text"] {
  color: #bebebe; }
.holdConfirmation h2 {
  color: #ffffff;
  margin-bottom: 30px; }
.holdConfirmation .hold_names {
  width: 500px;
  height: 40px;
  margin-bottom: 20px; }
  .holdConfirmation .hold_names .inputsnames {
    width: 225px;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 25px; }
    .holdConfirmation .hold_names .inputsnames .this0 {
      margin-right: 0; }
.holdConfirmation .hold_date {
  width: 260px;
  height: 75px;
  margin-bottom: 15px; }
  .holdConfirmation .hold_date h4 {
    color: #ffffff;
    margin-bottom: 10px; }
  .holdConfirmation .hold_date .holdDates {
    width: 65px;
    height: 35px;
    float: left; }
    .holdConfirmation .hold_date .holdDates input[type="text"] {
      text-align: center !important; }
    .holdConfirmation .hold_date .holdDates.centerOnes {
      margin-left: 18px;
      margin-right: 18px; }
    .holdConfirmation .hold_date .holdDates.lastO {
      width: 89px; }
.holdConfirmation .hold_cel {
  width: 210px;
  height: 65px;
  margin-bottom: 30px; }
  .holdConfirmation .hold_cel h4 {
    color: #ffffff;
    margin-bottom: 10px; }
  .holdConfirmation .hold_cel .boxlada {
    width: 70px;
    height: 35px;
    background-color: #2b2b2b;
    float: left; }
    .holdConfirmation .hold_cel .boxlada p {
      color: #ffffff;
      top: 7px;
      position: relative;
      text-align: center; }
  .holdConfirmation .hold_cel .holdnumber {
    width: 56px;
    height: 35px;
    float: left;
    overflow: hidden; }
    .holdConfirmation .hold_cel .holdnumber input[type="text"] {
      text-align: center !important; }
    .holdConfirmation .hold_cel .holdnumber.centeIt {
      margin-left: 10px;
      margin-right: 10px; }
.holdConfirmation .hold_btns {
  width: 320px;
  height: 40px; }
  .holdConfirmation .hold_btns .btns_btm {
    width: 142px;
    height: 42px;
    position: relative;
    float: left;
    background-repeat: no-repeat; }
    .holdConfirmation .hold_btns .btns_btm p {
      position: relative;
      left: 48px;
      top: 10px;
      color: #ffffff;
      font-weight: 700; }
    .holdConfirmation .hold_btns .btns_btm.btn_conf {
      margin-left: 28px;
      background-color: #ed1c24;
      background-image: url("../assets/images/gui/age/confi.png");
      background-position: 17px center; }
    .holdConfirmation .hold_btns .btns_btm.btn_back {
      background-color: #ffffff;
      background-image: url("../assets/images/gui/age/back.png");
      background-position: 20px center; }
      .holdConfirmation .hold_btns .btns_btm.btn_back p {
        color: #000000; }

.sorry_hold h2 {
  color: #ffffff;
  margin-bottom: 40px; }
.sorry_hold .hold_btns {
  width: 142px;
  height: 42px; }
  .sorry_hold .hold_btns .btns_btm {
    width: 142px;
    height: 42px;
    position: relative;
    float: left;
    background-repeat: no-repeat; }
    .sorry_hold .hold_btns .btns_btm p {
      position: relative;
      left: 48px;
      top: 10px;
      color: #ffffff;
      font-weight: 700; }
    .sorry_hold .hold_btns .btns_btm.btn_back {
      background-color: #ffffff;
      background-image: url("../assets/images/gui/age/back.png");
      background-position: 20px center; }
      .sorry_hold .hold_btns .btns_btm.btn_back p {
        color: #000000; }

html, body {
  margin: 0 auto;
  min-width: 980px;
  width: 100%;
  min-height: 760px;
  height: 100%;
  position: relative;
  font-family: helvetica;
  font-family: "Lato", sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #ffffff;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3, h4 {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  color: #000000; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #ed1c24;
  font-style: normal;
  font-weight: 700; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.section-half, .section-third {
  height: 85%;
  position: relative;
  float: left; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.centerIt-h {
  position: relative;
  margin: 0 auto; }

.btn-borders {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 780px;
  position: relative; }
  #wrapper .imgbG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    #wrapper .imgbG .holdwithGrid {
      width: 100%;
      height: 90%;
      position: absolute;
      top: 10%;
      left: 0;
      background-image: url("../assets/images/gui/age/bg.png"); }

.safe-all {
  width: 980px;
  height: 720px;
  margin: 0 auto; }

.btn_cursor {
  cursor: pointer; }

input[type="text"], input[type="number"] {
  width: 95%;
  height: 100%;
  position: relative;
  padding-left: 5%;
  background-color: #ffffff;
  border: none;
  color: #000000; }
