section#conect_phone
	.safe-all.center-all
		h1 Hi Bryan
		p In order to see your available points or add more and <br>reedem prizes you need to connect your phone number.
		.hold_phone
			input(type="number" name="phone", id="celphone")
			p A confirmation code will be send to you by sms
			.btn_send.btns
				p SEND