.imgbG#verification_email_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			h2 Connect your accounts to earn even more <span>STRIPES!</span>
			.holdVeryfied_btn.centerIt-h
				.btn_getS.btn_cursor.btn-borders.red_btns
					p Start Getting<br>Rewarded!
