.imgbG#verification_email_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			.holdCopyVerification.email-verification
				p A verification e-mail has been sent to <span>xxx@xxx.com</span>
				p Click the link and start getting rewarded!
			.holdVeryfied_btn.centerIt-h
				.btn_back.btn_cursor.btns_btm.btn-borders.red_btns
					p Back to login
