.imgbG#verification_email_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			.holdCopyVerification.email-verification
				p Please enter the confirmation code sent to <span>xx@xxx.com</span>
			.input_hold_verify.centerIt-h
				.holdinpu
					input(type="text", name="emailcode", id="code_verification_email", placeholder="")
				.btn_verify.btn_cursor.btns_btm.btn-borders.red_btns
					p Verify

			.holdVeryfied_btn.centerIt-h
				.btn_back.smsV.btn_cursor.btns_btm.btn-borders.red_btns
					p Go Back
