.imgbG#age_gate
	.holdwithGrid
		.safe-all
			.logo
			h3 You must 18 year or older to participate. <br> Please confirm your DOB
			.holdDOB
				#holD.dayInput.boxIp.btn_cursor
					#hoDays.mainselector(data-howInside="5")
						p Day
					.holdDrops#hoDays-in
					
				#holM.monthInput.boxIp.btn_cursor
					#hoMonths.mainselector(data-howInside="5")
						p Month
					.holdDrops#hoMonths-in
				#holdY.yearInput.boxIp.btn_cursor
					#hoYears.mainselector(data-howInside="5")
						p Year
					.holdDrops#hoYears-in
			.downHold
				.remindMeHold
					.checkbox_age.btn_cursor
					p Remember Me 
				.btsumit.btn_cursor
					p Submit
			.lineBtm
			.holdLow
				P Do you have a Web Access Code via SMS?<br><span> Enter Here </span>
				.inputbtm
					input(type="text", name="code_agegate", id="age_gate_code", class="code")