.imgbG#chooseRegistration_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			h2 You're almost there!
			h3 Let's verify your account.
			.holdVeryfied_btns.centerIt-h
				.btn_email.btn_cursor.btns_btm.btn-borders.red_btns
					p Verify by e-mail
				.btn_sms.btn_cursor.btns_btm.btn-borders.red_btns
					p Verify by SMS
			.lineBtm