.lasTcheers#cheers_salute
	.top_msg
		p CHEERS!

	.msgTrans
		p You have redeemed a Major Lazer<br> ticket for 350 STRIPES! <br> You can pick up this prize at Prism Communications Ltd. <br> Transaction # 1234567890
	.lastB.centerIt-h
		.btnsRedim.btn_cursor.btn-borders.prizes_back
			p Done