.section-half#email_info_gate
	.topONe.centerIt-h
		p A redemption code was sent to xxx@xxxx.com
	.inputSend.centerIt-h
		input(type="text", name="code", id="code_prizing_sms", placeholder="Enter Code")
	.holdsend.centerIt-h
		.btsumit.btn_cursor.btn-borders
			p Submit
	.lastB.centerIt-h
		.btnsRedim.btn_cursor.btn-borders.prizes_back.close_elPopUP
			p Back to Prizes