.holdwithGrid
	.ingGrid.centerIt-h
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-1.center-all
					.imgbox#prize-1-in
					.hover#prize-1-in-hover.btn_cursor
						p Major<br> Lazer<br>Tickets
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-2.center-all
					.imgbox#prize-2-in
					.hover#prize-2-in-hover.btn_cursor
						p Red<br> Stripe<br>Caps
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-3.center-all
					.imgbox#prize-3-in
					.hover#prize-3-in-hover.btn_cursor
						p Red<br> Stripe<br>Sirroel
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-4.center-all
					.imgbox#prize-4-in
					.hover#prize-4-in-hover.btn_cursor
						p Absinthe<br> Party<br>Tickets
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-5.center-all
					.imgbox#prize-5-in
					.hover#prize-5-in-hover.btn_cursor
						p Apple<br> iPhone 6
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-6.center-all
					.imgbox#prize-6-in
					.hover#prize-6-in-hover.btn_cursor
						p Red<br> Stripe<br>1 Litre
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-7.center-all
					.imgbox#prize-7-in
					.hover#prize-7-in-hover.btn_cursor
						p Live<br> From<br>Kignston<br>Tickets
		.fth-section.este-in.grid-item.prize-grid-item
				.btn-borders.inImg#prize-8.center-all
					.imgbox#prize-8-in
					.hover#prize-8-in-hover.btn_cursor
						p Red Stripe<br> Football<br>Monday

	.holdCopyes.centerIt-h
		.section-half
			p COLLECT <span>STRIPES</span>
		.section-half
			p Get Rewarded!
		.holdVeryfied_btn
			.btn_back.smsV.btn_cursor.btns_btm.btn-borders.red_btns
				p Go Back





