.section-half#info_prize
	.topONe
		p A redemption code will be sent to you; use this code to redeem prize at this redemption centre:
	.holdSelect
		select
			option(value="Redemption Centers", selected) Redemption Center
			option(value="Kingston, Jamaica") Kingston, Jamaica
	.holdCodes
		.points_to
			p SEND CODE VIA.
		.btnshoLD
			.section-half
				.btnsRedim.btn_cursor.btn-borders#sms_info.sendConfi_prize
					p Send SMS
			.section-half
				.btnsRedim.btn_cursor.btn-borders#email_info.sendConfi_prize
					p Send Email
	.holdTextredimer
		p Or text ‘REDEEM MLTIX350’ to 444-7744
	.phoneConcect.centerIt-h
		.iconoPhone
		.txtConc
			p (Connect Cell Phone)
	.lastB.centerIt-h
		.btnsRedim.btn_cursor.btn-borders.prizes_back
			p Back to Prizes