.section-half
	.points_to
		p STRIPES 350
		.icono_point
	.boxName.btn-borders
		p Major Lazer Tickets
	.imgPrice.btn-borders
		img(src="assets/images/gui/prizes/1.png")

include _info_prize
include _sms_info
include _email_info