#age_gate
	background-image: url(../assets/images/gui/age/img_bg.png)
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

	.safe-all
		padding-top: 60px
		height: 640px
	.logo
		width: 155px
		height: 231px
		position: relative
		margin: 0 auto
		background-image: url('../assets/images/gui/age/logo.png')
		background-repeat: no-repeat
		background-position: center
		margin-bottom: 30px
	h3
		margin-bottom: 30px
		width: 100%
		text-align: center
		color: $gris-font
	.holdDOB
		width: 362px
		height: 30px
		position: relative
		margin: 0 auto
		margin-bottom: 30px
		z-index: 1
		.boxIp
			background-color: $blanco
			float: left
			height: 30px
			position: relative
			&.dayInput
				width: 81px
			&.monthInput
				width: 106px
				margin-left: 20px
				margin-right: 20px
			&.yearInput
				width: 135px
			.mainselector
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background-image: url("../assets/images/gui/age/drop_down.png")
				background-position: right
				background-repeat: no-repeat
				p 
					color: $negro
					position: relative
					margin-top: 8px
					margin-left: 16px
					font-size: 13px
			.holdDrops
				width: 100%
				height: 0px
				position: absolute
				top: 30px
				left: 0
				background-color: $blanco
				overflow: hidden

				.indeOnes
					width: 100%
					height: 15px
					padding-top: 5px
					padding-bottom: 5px
					font-size: 12px
					&:hover
						background-color: $gris-hover
					p 
						position: relative
						margin-left: 10px
						color: $no-negro

	.downHold
		width: 362px
		height: 40px
		margin: 0 auto
		margin-bottom: 30px
		.remindMeHold
			width: 165px
			height: 19px
			position: relative
			margin-top: 12px
			margin-left: 49px
			float: left
			.checkbox_age
				width: 19px
				height: 19px
				background-color: $blanco
				float: left
				margin-right: 10px
				&:hover, &.activeone
					background-image: url("../assets/images/gui/age/remider.png")
					background-position: center
					background-repeat: no-repeat
		.btsumit
			width: 148px
			height: 40px
			position: relative
			float: left
			background-color: $rojo
			background-image: url("../assets/images/gui/age/submit.png")
			background-position: 20px 11px
			background-repeat: no-repeat
			p 
				position: relative
				font-weight: 700
				top: 11px
				left: 57px
	.lineBtm
		width: 620px
		height: 2px
		position: relative
		margin: 0 auto
		background-color: $gris-font
		margin-bottom: 30px
	.holdLow
		position: relative
		p 
			text-align: center
			margin-bottom: 20px
		.inputbtm
			width: 134px
			height: 30px
			margin: 0 auto
			input 
				text-align: center


.hold_ageGate,
	display: block

.sorry_hold, .holdConfirmation,
	display: none
.holdConfirmation
	input[type="text"]
		color: $gris-font
	h2 
		color: $blanco
		margin-bottom: 30px
	.hold_names
		width: 500px
		height: 40px
		margin-bottom: 20px
		.inputsnames
			width: 225px
			height: 100%
			position: relative
			float: left
			margin-right: 25px
			.this0
				margin-right: 0
	.hold_date
		width: 260px
		height: 75px
		margin-bottom: 15px
		h4 
			color: $blanco
			margin-bottom: 10px
		.holdDates
			width: 65px
			height: 35px
			float: left
			input[type="text"]
				text-align: center !important
			&.centerOnes
				margin-left: 18px
				margin-right: 18px
			&.lastO
				width: 89px
			
	.hold_cel
		width: 210px
		height: 65px
		margin-bottom: 30px
		h4 
			color: $blanco
			margin-bottom: 10px
		.boxlada
			width: 70px
			height: 35px
			background-color: $dark-gris
			float: left
			
			p 
				color: $blanco
				top: 7px
				position: relative
				text-align: center
		.holdnumber
			width: 56px
			height: 35px
			float: left
			overflow: hidden
			input[type="text"]
				text-align: center !important
			&.centeIt
				margin-left: 10px
				margin-right: 10px
	.hold_btns
		width: 320px
		height: 40px
		.btns_btm
			width: 142px
			height: 42px
			position: relative
			float: left
			
			background-repeat: no-repeat
			p 
				position: relative
				left: 48px
				top: 10px
				color: $blanco
				font-weight: 700
			&.btn_conf
				margin-left: 28px
				background-color: $rojo
				background-image: url("../assets/images/gui/age/confi.png")
				background-position: 17px center 

			&.btn_back
				background-color: $blanco
				background-image: url("../assets/images/gui/age/back.png")
				background-position: 20px center 
				p 
					color: $negro

.sorry_hold
	h2 
		color: $blanco
		margin-bottom: 40px
	.hold_btns
		width: 142px
		height: 42px
		.btns_btm
			width: 142px
			height: 42px
			position: relative
			float: left
			
			background-repeat: no-repeat
			p 
				position: relative
				left: 48px
				top: 10px
				color: $blanco
				font-weight: 700
		
			&.btn_back
				background-color: $blanco
				background-image: url("../assets/images/gui/age/back.png")
				background-position: 20px center 
				p 
					color: $negro










