#prizes_gate
	.safe-all
		height: 100%
		margin-top: 0
		position: relative
		background-color: $carmesi
		.ingGrid
			width: 890px
			height: 95%
			padding-top: 2.5%
			.este-in
				height: 215px
			.half-in
				width: 50%
				float: left	
			.fth-section
				width: 25%
				float: left
			.full-in
				width: 100%	
				clear: both
				.inImg 
					width: 97.25% !important		
			.single-in
				height: 25%
			.double-in
				height: 50%
				.hover p 
					bottom: 20px !important
			.fullD-in
				height: 100%
				.double-in
					.inImg
						height: 97.25% !important
			.grid-item
				position: relative
				p 
					text-align: left !important

				.inImg
					width: 95%
					height: 95%
					background-position: center
					-webkit-background-size: cover
					-moz-background-size: cover
					-o-background-size: cover
					background-size: cover
					&#prize-1
						background-image: url(../assets/images/gui/prizes/1.png)
					&#prize-2
						background-image: url(../assets/images/gui/prizes/2.png)
					&#prize-3
						background-image: url(../assets/images/gui/prizes/3.png)
					&#prize-4
						background-image: url(../assets/images/gui/prizes/4.png)
					&#prize-5
						background-image: url(../assets/images/gui/prizes/5.png)
					&#prize-6
						background-image: url(../assets/images/gui/prizes/6.png)
					&#prize-7
						background-image: url(../assets/images/gui/prizes/7.png)
					&#prize-8
						background-image: url(../assets/images/gui/prizes/8.png)
						
					.hover	
						width: 100%
						height: 100%
						position: absolute
						top: 0
						left: 0
						opacity: 0
						background-color: $rojo-alpha
						p 
							position: absolute
							bottom: 10px
							left: 10px
							line-height: 15px

						&:hover
							opacity: 1





