.choose_bg
	background-image: url(../assets/images/gui/perfil/bg.png)
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	.safe-all
		background-color: $blanco
		.topPart
			width: 100%
			height: 315px
			padding-top: 50px
			position: relative
			.pointsCounte
				width: 90px
				height: 100px
				margin-top: 10px
				p
					text-align: center
					color: $negro
					span 
						font-weight: 700
						color: $negro
				h1 
					color: $negro
					font-weight: 700
					margin-bottom: 10px



	