.btmpart
	.holdRefers.centerIt-h
		.friensSo
			p Friends so far
		.holdLOw.centerIt-h
			.counter_Friends.lftm
				p 3
			.iconoMn.lftm
	.getMore.centerIt-h
		h2 GET MORE POINTS
	.holdBtnsPromos.centerIt-h
		.section-half
			.btnsGo.btn_cursor.btn_chll.open_popUp#dailyChallenge
			.redXms
		.section-half
			.btnsGo.btn_cursor.btn_mth.open_popUp#footballChallenge
			.btnsGo.btn_cursor.btn_code.open_popUp#codesChallenge
	.btmTab.btn_cursor#prizesShow
		h1 PRIZES