.btmpart
	.holdRefers.centerIt-h
		.friensSo
			p Friends so far
		.holdLOw.centerIt-h
			.counter_Friends.lftm
				p 3
			.iconoMn.lftm
	.getMore.centerIt-h
		h2 GET MORE POINTS
	.holdBtnsPromos.centerIt-h
		.section-half
			.btnsGo.btn_cursor.btn_chll
			.redXms
		.section-half
			.btnsGo.btn_cursor.btn_mth
			.btnsGo.btn_cursor.btn_code
	.btmTab.btn_cursor
		h1 PRIZES