.nav_var
	.safe-in.centerIt-h
		.profile_gating
			.circleimg
				img(src="assets/images/gui/perfil/profile.png", alt="")
			.holder_dropdown.btn_cursor#drop_logs
				.welcomTxt
					p Welcome <span>Shantel</span>
				.bullet
				.droping#drop_logs-down
					.selctionThis.btn_cursor#myacount
						p My Account
					.selctionThis.btn_cursor#logOut
						p Log Out
		.logoOne.center-horizontal
			img(src="assets/images/gui/age/logo.png", alt="")
		.conections_part
			p Connected Accounts:
			.socilasConects
				.iconRed#facebook-conect-profile
					img(src="assets/images/gui/choose/fb-ico.png", alt="")
				.iconRed#twitter-conect-profile
					img(src="assets/images/gui/choose/tt-ico.png", alt="")
				.iconRed#instagram-conect-profile
					img(src="assets/images/gui/choose/ig-ico.png", alt="")
				.iconRed#cell-conect-profile
					img(src="assets/images/gui/perfil/assets/phone_white.png", alt="")
				p (Click to Connect)


