.topPart
	.pointsCounte.centerIt-h
		p You have
		h1(id="points_counter") 100
		p <span>STRIPES</span>
		.btnShow.btn_cursor.open_popUp#puntosPerfil
	.copyPart.centerIt-h
		.ttp
			p Get your friends to Sign Up and Recieve bonus <span>STRIPES!</span>
		.lbp.centerIt-h
			.tellthem.floLsection
				p Tell them to text this code:
			.inputhOLS.floLsection
				p AdsAga
			.tellthem.floLsection
				p to <span>444-7744</span>
		.ttp.linkShare
			p Or share this link: bit.ly/AdsAga
	.shareSect.centerIt-h
		.holdTX
			p Share via:
		.boxSocial.btn-borders
			.fb_linkShare.btn_cursor.linkBtn
			.tt_linkShare.btn_cursor.linkBtn
			.email_linkShare.btn_cursor.linkBtn
	.lastCopy
		p When <span>3</span> friends sign up you get a<span>ReadStripe 1 Litre</span> or a<span>3-Pack Red Stripe Sorrel</span>
