.conteinerPopuP#codesChallenge_popUp_gate.center-all.btn-borders
	.closePop_codes.btn_cursor#codesChallenge_popUp
	.holdInputDown.center-horizontal
		input(type="text", name="codeChallenge", id="codeChallenge", placeholder="CODE")
	.holdBtns.center-horizontal
		.btsumit.btn_cursor.btn-borders#submitCodeChallenge
			p Submit