.conteinerPopuP#dailyChallenge_popUp_gate.center-all.btn-borders
	.safeArea.center-all
		.closePop_codes.btn_cursor#dailyChallenge_popUp
		.top_img.centerIt-h
			img(src="assets/images/gui/age/logo.png")
		.topCh
			h2 Share this photo with <br><span>#RedStripeChristmas</span><br>NOW!!
		.imgholder.centerIt-h
			.inImg.centerIt-h
				img(src="assets/images/gui/pop_ups/chd.png", alt="")
		.shareSect.centerIt-h
			.holdTX
				p Share via:
			.boxSocial.btn-borders
				.fb_linkShare.btn_cursor.linkBtn
					p 10<br>Stripes
				.tt_linkShare.btn_cursor.linkBtn
					p 5<br>Stripes