.conteinerPopuP#footballChallenge_popUp_gate.center-all.btn-borders
	img( src="assets/images/gui/pop_ups/footb.png" )
	.closePop_codes.btn_cursor#footballChallenge_popUp
	.btnsTeamsHolder.center-horizontal
		.btSeletct.btn_cursor.btn-borders#team_1
			p Select
		.btSeletct.btn_cursor.btn-borders#team_2
			p Select