.conteinerPopuP#sendBymail_popUp_gate.center-all.btn-borders
	.safeArea.center-all
		.closePop_codes.btn_cursor#sendBymail_popUp
		.top_img.centerIt-h
			img(src="assets/images/gui/age/logo.png")
		.copyHello.centerIt-h
			p.hi <span>HI!<span>
			p Join me on Red Stripe® Rewards<br> & get STRIPES to redeem BIG Prizes!
			p Click this link to join NOW!
		.linkShare.centerIt-h
			a(href="http://bit.ly/rddfhdhfu") 
				p bit.ly/rddfhdhfu
		.holdBtns.centerIt-h
			a.btsumit.btn_cursor.btn-borders(href="mailto:xx@xxxx.com?subject=Join me on Red Stripe® Rewards&body= Get STRIPES to redeem BIG Prizes! http://bit.ly/rddfhdhfu")
				p Send e-mail
			.btcopy.btn_cursor.btn-borders
				p Copy to Clipboard